/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --purple-gradient: linear-gradient(#672280, #a626d3);
}

/* header */

.header {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 7px;
  background: var(--purple-gradient);
}

.header-title {
  font-size: 1.2rem;
}

/* main */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #ffffff;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.input-container {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #d5d4d8;
}

.btn {
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background: var(--purple-gradient);
  cursor: pointer;
}

.meme-img-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.meme-img {
  width: 100%;
  max-width: 700px;
  border-radius: 3px;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.footer {
  display: flex;
  justify-content: center;
  color: #7C7C7C;
  padding: 20px;
  margin-bottom: auto;
  background-color: #F1F1F1;
}
