/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

body {
  color: #ffffff;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --purple-gradient: linear-gradient(#672280, #a626d3);
}

body {
    height: 100vh;
    border: 1px solid red;
}

/* header */

.header {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 7px;
  background: var(--purple-gradient);
}

.header-title {
  font-size: 1.2rem;
}

/* form */

.main {
  border: 1px solid red;
  padding: 30px;
}

.input-container {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #d5d4d8;
}

.form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.form-btn {
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background: var(--purple-gradient);
}
